{% extends 'base.html' %}
{% load static %}

<style>
    
</style>

{% block contenido %}
<center>
    <div class="max-w-screen-lg w-full p-10 bg-white rounded-lg shadow-md text-center">
        <h1 class="font-bold text-2xl">Acerca de Nosotros</h1>
        <br>
        <p class="text-left">
            Somos un equipo apasionado por la programación, actualmente enfocados en el desarrollo de aplicaciones utilizando Python y Django.
        </p>
        <br>
        <p class="text-left">
            Nuestro objetivo es aprender y aplicar buenas prácticas de programación, para crear soluciones web dinámicas y eficientes. Con Python, trabajamos en la lógica de backend, mientras que con Django, nos enfocamos en la creación de aplicaciones web robustas y escalables.
        </p>
        <br>
        <p class="text-left">
            A través de este proyecto, buscamos mejorar nuestras habilidades técnicas y construir una base sólida para desarrollos futuros.
        </p>

        <div class="max-w-screen-lg w-full p-10 bg-white rounded-lg shadow-md text-center">
            <ul class="flex flex-wrap justify-between items-center mt-3 text-sm font-medium text-dark dark:text-gray-400 sm:mt-0">
                <a href="https://github.com/Gabriel1610" target="_blank"><li class="hover:underline me-4 md:me-6 text-dark" >Gabriel Alejandro Paul</li></a>
                <a href="https://github.com/Marcelochamo3" target="_blank"><li class="hover:underline me-4 md:me-6 text-dark">Marcelo Horacio Chamorro</li></a>
                <a href="https://github.com/royleguiza" target="_blank"><li class="hover:underline me-4 md:me-6 text-dark" href="https://github.com/royleguiza" target="_blank">Victor Roy Leguiza</li></a>
            </ul>
        </div>
    </div>
</center>
{% endblock %}
