
{% load colaborador_tags %}

{% block contenido %}
<div class="flex justify-center bg-white rounded-lg shadow p-4 container max-w-screen-xl">
<h2 class="h3 text-bold text-left">Post:</h2>
    {% for i in posts %}
    
    <div class="transform hover:scale-110 transition duration-300 ease-in-out">
        <article class="border border-gray-700 py-2 hover:scale-110">
            <div class="flex flex-row justify-between p-4">
                <div>
                    <a href="{% url 'apps.posts:post_individual' i.id %}" >
                    <p class="h5 text-bold hover:underline hover:text-blue-800">{{ i.titulo }}</p>
                    <p>{{ i.subtitulo }}</p>
                    <p>Categoria: {{ i.categoria }}</p>
                    <p>Autor: <strong>{{ i.autor }}</strong></p></a>
                </div>
                <a href="{% url 'apps.posts:post_individual' i.id %}" >
                    <img class="max-h-32 w-auto object-contain object-cover rounded-lg shadow transform hover:scale-110 transition duration-300 ease-in-out" src="{{ i.imagen.url }}" alt="">
                </a>
            </div>
        </article>
    </div>
        

    {% empty %}
        <h1 class="text-center text-gray-800 font-bold p-4 font-bold h2">No hay registros</h1>
    {% endfor %}
</div>
<!--hasta aca-->
{% endblock %}