{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}


{% block contenido %}
<div class="container max-w-screen-lg px-4 py-8">

<!--% if user.is_superuser or request.user|has_group:"Colaborador"-->
{% if user.is_superuser or user|has_group:"Colaborador" %}
<div class="flex justify-center mb-8">
    <a href="{% url 'apps.posts:crear_post' %}" class="btn btn-primary rounded bg-blue-700 py-2 px-4 text-white hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 ">Crear nuevo post</a>
</div>
{% endif %}

<h2 class="text-2xl font-bold mb-4 center">Ordenar por:</h2>
<ul class="list-disc pl-4 justify-between">
    <a href="{% url 'apps.posts:posts' %} ?orden=reciente" class="btn btn-primary rounded bg-blue-700 py-2 px-4 text-white hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 text-blue-500 hover:underline p-4">Más reciente</a>
    <a href="{% url 'apps.posts:posts' %} ?orden-antiguo" class="btn btn-primary rounded bg-blue-700 py-2 px-4 text-white hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 text-blue-500 hover:underline p-4">Más antiguo</a>
    <a href="{% url 'apps.posts:posts' %} ?orden-alfabetico" class="btn btn-primary rounded bg-blue-700 py-2 px-4 text-white hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500  text-blue-500 hover:underline p-4">Orden alfabético</a>
</ul>
<h2 class="h3 text-bold text-left">Post:</h2>
    {% for i in posts %}
    
    <div class="hover:scale-110">
        <article class="border border-gray-700 py-2 hover:scale-110">
            <div class="flex flex-row justify-between p-4">
                <div>
                    <a href="{% url 'apps.posts:post_individual' i.id %}" >
                    <p class="h5 text-bold hover:underline hover:text-blue-800">{{ i.titulo }}</p>
                    <p>{{ i.subtitulo }}</p>
                    <p>Categoria: {{ i.categoria }}</p>
                    <p>Autor: <strong>{{ i.autor }}</strong></p></a>
                </div>
                <a href="{% url 'apps.posts:post_individual' i.id %}" ><img class="max-h-32 w-auto object-contain object-cover rounded-lg shadow transform hover:scale-110 transition duration-300 ease-in-out" src="{{ i.imagen.url }}" alt=""></a>
            </div>
        </article>
    </div>
        

        {% empty %}
        <h1 class="text-center text-gray-800 font-bold p-4 font-bold h2">No hay registros</h1>
    {% endfor %}
</div>
{% endblock %}