 
   * {
    /* normalizador */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* generales */
    color:  #000000;
    scroll-behavior: smooth;


    .merriweather-light {
      font-family: "Merriweather", serif;
      font-weight: 300;
      font-style: normal;
    }
    
    .merriweather-regular {
      font-family: "Merriweather", serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .merriweather-bold {
      font-family: "Merriweather", serif;
      font-weight: 700;
      font-style: normal;
    }
    
    .merriweather-black {
      font-family: "Merriweather", serif;
      font-weight: 900;
      font-style: normal;
    }
    
    .merriweather-light-italic {
      font-family: "Merriweather", serif;
      font-weight: 300;
      font-style: italic;
    }
    
    .merriweather-regular-italic {
      font-family: "Merriweather", serif;
      font-weight: 400;
      font-style: italic;
    }
    
    .merriweather-bold-italic {
      font-family: "Merriweather", serif;
      font-weight: 700;
      font-style: italic;
    }
    
    .merriweather-black-italic {
      font-family: "Merriweather", serif;
      font-weight: 900;
      font-style: italic;
    }
    
  }
  
  html {
    background-color: #04709b
  }

  body {
    background-image: url('./static/img/baner_pagina_inicial.jpg');
    min-height: 100vh; /* Use viewport height for better responsiveness */
    justify-content: center;
    background-size: cover;
    background-position: center;
  }

  .navegacion {
    height: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
  }
 
  
  .presentacion {
    width: 100%;
    height: 100vh;
    background-image: url("./assets/images/profile/finanzas_economia.jpg");
    background-size: cover;
    background-position: center;
  }
  .presentacion__contenedor_info {
    width: 100%;
    height: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    background: linear-gradient(
      90deg,
      #00000080 20%,
      transparent 40%
    );
  }
 
  
  .presentacion__titulo {
    font-size: calc(6rem * 1.2); 
    color: #030178;;
    text-shadow: 2px 2px 2px rgb(255, 255, 255); 
  }
  
  
  .presentacion__parrafo {
    max-width: 460px;
    font-size: 2rem;
    color:  #ffffff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0); 
    
    }

  
  .articulo {
    width: 100%;
    height: 100vh;
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }
 
  .proyectos {
    background: linear-gradient(
      180deg,
      #0000a5 0%,
      #060676 10%,
      #000000 55%
    );
      height: max-content;
  }
  
  .articulo__titulo {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 2px #ffffff;
  }
  .articulo__contenedor_descripciones {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .seccion_descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 40px;
    background-color: #00000080;
    border-radius: 20px;
  }
  
  .seccion_descripcion__porta_retrato {
    height: 300px;
    width: 300px;
    padding: 10px;
    background-color: #ffffff;
    cursor: pointer;
  }
  .seccion_descripcion__imagen {
    width: 100%;
    height: 240px;
   
    object-fit: cover;
  }
    .seccion_descripcion__info {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    max-height: 300px;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
  }
  .seccion_descripcion__titulo {
    font-size: 3rem;
    padding: 1rem;
    margin-bottom: 40px;
    text-shadow: 2px 2px 2px #ffffff;
  }
  .seccion_descripcion__parrafo {
    font-size: 1.4rem;
    color:  #d1d1d1;
    text-wrap: pretty;
  }
  
  .contenedor_tarjetas_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr auto;
    gap: 1rem;
  }
  .tarjeta {
    max-width: 700px;
    min-width: 1000px; 
    background-color: #00000080;
    border-radius: 0.375rem;
    box-shadow: 0 0 8px #060676;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
  }

  .tarjeta__contenido {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background-color: #1475ca; 
    backdrop-filter: blur(4px); 
    }
  
  .tarjeta__titulo {
    font-size: 2rem;
  }
  .tarjeta__divisor {
    width: 100%;
    height: 2px;
    background-color: #0000a5;
  }
  
  .tarjeta__parrafo {
    font-size: 1.5rem;
    color: #ffffff;
    overflow: auto;
    flex-basis: 150px;
    text-wrap: pretty;
  }
  .tarjeta__imagen {
    height: 100%;
    width: 50%;
    object-fit: cover;
  }

  #formulario_contacto {
    color: blue;
    text-align: center;
    font-size: 24px;
  }

input{
  width: 450px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #686565;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Estilos para el input con id="id_username" */
#id_username,#id_first_name, #id_last_name, #id_password1, #id_password2, #id_email, #id_nombre_apellido, #id_nombre_apellido, #id_mensaje{
  width: 450px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #686565;
  border-radius: 8px;
  box-sizing: border-box;
}

input{
  width: 450px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #686565;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Estilos para el input cuando esté en foco (al escribir o seleccionarlo) */
#id_username:focus {
  border-color: #5cb85c;
  outline: none;
  box-shadow: 0 0 5px rgba(92, 184, 92, 0.5);
}

#id_password {
  width: 450px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #686565;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Estilos para el input cuando esté en foco (al escribir o seleccionarlo) */
#id_password:focus {
  border-color: #5cb85c;
  outline: none;
  box-shadow: 0 0 5px rgba(92, 184, 92, 0.5);
}

#inicio_sesion, #registracion{
  max-width: 600px;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle efecto de tarjeta */
  text-align: center; /* Centra el texto dentro del contenedor */
  justify-content: center;
  align-items: center;
}

#center_login_1 {
  display: flex; /* Activa Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 600px; /* Ocupa el 100% de la altura de la ventana */
}

#boton_inicio, #boton_registrar {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  /* Efecto hover */
  &:hover {
    background-color: #2962FF;
  }
}




.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  border-radius: 8px;
  min-width: 160px;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;

}

.dropdown-content.hidden {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;  
  background-color: #fff;
}