{% extends 'base.html' %}

{% load static %}

<title>{% block title %} Registro de usuario {% endblock title %}</title>

{% block contenido %}
<center id="center_login_1">

    <form method="POST" id="inicio_sesion">
        <h1 class="h2 justify-center">Iniciar sesión</h1>
        <div class="messages">
            {% for message in messages %}
            <table{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</table>
            {% endfor %}
        </div>
        <br>
        {% csrf_token %}
        <div class="container justify-center">
            <table>{{ form }}</table>
            <br>
            <a class="font-semibold text-black hover:underline" href="{% url 'apps.usuario:password_reset' %}">¿Olvidó la contraseña?</a> <br><br>
            <button type="submit" id="boton_inicio">Iniciar sesión</button>
            <br><br>
            <a class="font-semibold text-black hover:underline" href="{% url 'apps.usuario:registrar' %}">Todavía no está registrado? Registrate</a> <br><br>
            
        </div>
    </form>
</center>
{% endblock %}